<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choose launge </title>
    <link rel="stylesheet" href="/stylesheets/chooseLounge.css">
</head>
<body>

    <div id="main">
        <h1>Registerd Lounge in station</h1>
     <% for(var i = 0; i < launges.length; i++){ %>
        <li>
            <a href="/chooseLaunge/<%= launges[i]._id %>"><%= launges[i].loungeName %></a>
        </li>
    <% } %>

    </div>
        
        
</body>
</html>


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Lounges</title>
    <link rel="stylesheet" href="stylesheets/chooseLounge.css">
</head>
<body>

    <div id="main">
        <h1>Registered Lounges in Station</h1>
        <ul class="lounge-list">
            <li class="lounge-item">
               
                <div class="lounge-details">
                    <h2>Lounge Name 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#">Book Now</a>
                </div>
            </li>
            <li class="lounge-item">
              
                <div class="lounge-details">
                    <h2>Lounge Name 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <a href="#">Book now</a>
                </div>
            </li>
            Add more lounge items here
        </ul>
    </div>
    
</body>
</html> -->
