<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\stylesheets\get-started.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="get-started">
               <h1>How do you want to use Saksham?</h1>
               
               <p> No matter the occasion you can celebrate at our <span>place!</span> </p>
              <div class="get-startedchild">
                <div class="user-get-started  get-started-sign">
                    <h4> USER</h4>
                    <p>"Join our exclusive lounge booking community and gain access to a seamless booking experience. </p>
                    <button >sign-in</button>
             </div>
             <div class="provider-get-started get-started-sign  "  >
                 <h4>PROVIDER</h4>
                 <p> As an administrator, you hold the keys to manage and oversee the lounge booking platform</p>
                 <button>sign-in</button>
             </div>
              </div>
        </div>
    </div>
   
    
</body>
</html>