<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

</head>
<body>
  <div id="main">
      <header class="header">
        <h1 class="logo"><a href="#">Flexbox</a></h1>
          <ul class="main-nav">
              <li><a href="#">Home</a></i></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">services</a></li>

              <li><a href="/get-started">login/sign up</a></li>

          </ul>
      </header> 


    <!--      written by anmol header jisme chhose krna time and station-->
    <div class="functions">
        <label for="station">Choose Station:</label>
        <select id="station">
          <option value="station1">Station 1</option>
          <option value="station2">Station 2</option>
          <option value="station3">Station 3</option>
          <!-- Add more stations if needed -->
        </select>
      
        <label for="check-in-time">Check-in Time:</label>
        <input type="time" id="check-in-time" step="1800">
      
        <label for="check-out-time"> Check-out Time:</label>
        <input type="time" id="check-out-time" step="1800">
      
        <label for="beds">Choose Number of Beds:</label>
        <select id="beds">
          <option value="1">1 bed</option>
          <option value="2">2 beds</option>
          <option value="3">3 beds</option>
          <!-- Add more bed options if needed -->
        </select>
      
        <button id="search-btn">Search</button>
      </div>
    <!-- /* written by anmol header jisme chhose krna time and station ==end */ -->
        

      <div class="homepage">

        <div class="swiper mySwiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <img src="https://cloudfront.timesnownews.com/media/D17By1kVAAARQpB.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="https://s3images.zee5.com/wp-content/uploads/2021/09/bb999167-2062-4d49-8c67-8d46e8687d0f2021091214140320210916164756.jpg" alt="">
            </div>
            <div class="swiper-slide">
              <img src="https://images.hindustantimes.com/img/2021/09/19/1600x900/Delhi_IRCTC_Lounge_1632072715277_1632072738699.jpg" alt="">
            </div>
           
          </div>
        </div>

      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
 <script src="/javascripts/script.js"></script>
</body>
</html>