<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>launch.com</title>
  <link rel="stylesheet" href="./stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->

  <link rel="shortcut icon" href="\images\logot.png" type="image/x-icon">
  
</head>
<body>
  <div id="main">
   
    <% include ./footer/nav.ejs %>
    


    <!--      written by anmol header jisme chhose krna time and station-->
    <div class="functions">
      <label for="station">Choose Station:</label>
      <select id="station">
        <option value="station1">Station 1</option>
        <option value="station2">Station 2</option>
        <option value="station3">Station 3</option>
        <!-- Add more stations if needed -->
      </select>
  
      <label for="check-in-time">Check-in Time:</label>
      <input type="time" id="check-in-time" step="1800">
  
      <label for="check-out-time"> Check-out Time:</label>
      <input type="time" id="check-out-time" step="1800">
    
      <label for="beds">Number of Beds:</label>
      <select id="beds">
        <option value="1">1 bed</option>
        <option value="2">2 beds</option>
        <option value="3">3 beds</option>
        <!-- Add more bed options if needed -->
      </select>
  
      <button id="search-btn">
        <a href="/enquiry">Search</a>
      </button>
    </div>
    <!-- /* written by anmol header jisme chhose krna time and station ==end */ -->
        

      <% include ./slider.ejs %>
      <% include ./about.ejs %>
      <% include ./service.ejs %>
      <% include ./footer/footer.ejs %>
     
  </div>
   
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
 <script src="/javascripts/script.js"></script>
</body>
</html>