<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <% for(var i=0;i< all_items.length; i++){ %>
        
        <% for(var j=0;j< all_items[i].length; j++){ %>
        
        <h1> <%= all_items[i][j].item_Name %> </h1>

            <% } %>

        <% } %>

</body>
</html>