<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider</title>
    <style>
        *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
        }
        html,body{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      
        
    </style>
</head>
<body>
    <div id="main">
        <h1>owner</h1> <br> <br>
        <a href="/loungeProvider_login">Lounge Provider</a> <br> <br>
        <a href="/shopProvider_login">Shop Provider</a>
    </div>
</body>
</html>