<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider</title>
   <link rel="stylesheet" href="\stylesheets\provider.css">
   <link rel="stylesheet" href="\stylesheets\nav.css">

</head>
<body>



   
    <header class="header">
        <img src="\images\logo.jpg" alt="" class="logo">
        <nav class="navbar">
          <ul class="main-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#footer-container" >Contact</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="/get-started" id="contect">Login/Sign up</a></li>
          </ul>
        </nav>
        <button class="menu-toggle">&#9776;</button>
      </header>
    <div id="main">
        
        <h1 class="title">Provider Login</h1>

        <div class="user_boxes">
            <div class="user_box lounge">
                <p class="box_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor odit at laudantium?</p>
               <button> <a class="box_link" href="/loungeProvider_login">Lounge Provider</a></button>
            </div>

            <div class="user_box shop">
                <p class="box_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor odit at laudantium?</p>
                <button>
                <a class="box_link" href="/shopProvider_login">Shop Provider</a>

                </button>
            </div>
        </div>
    </div>

</body>
</html>