<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider</title>
   <link rel="stylesheet" href="\stylesheets\provider.css">
</head>
<body>
    <div id="main">
        <h1>owner login</h1> 
        <br>
        <div class="user_box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor odit at laudantium?</p>
            <a href="/loungeProvider_login">Lounge Provider</a>
        </div>
        <div class="user_box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor odit at laudantium?</p>
            <a href="/shopProvider_login">Shop Provider</a>
        </div>
       
    </div>
</body>
</html>