*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  box-sizing: border-box;
}

body{
width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;


}

.about-section{
  /* background: url(https://erail.in/blog/Images/Post/railway-coach-class_10.jpg) no-repeat left; */
  background: url('/images/WhatsApp Image 2023-07-17 at 14.41.10.jpg') no-repeat left;
  background-size: 50%;
  
height: 100vh;
  background-color: #fdfdfd;
  /* background-color:#ddcbcbaf; */
  overflow: hidden;
 

  padding: 100px 0;
  
}


.inner-container{
  width: 50%;
  float: right;
  
 
  background-color: #fdfdfdb9;
  /* background-color:#ddcbcb74; */
  /* background-color: #545454; */

  padding: 180px;
  
  
}

.inner-container h1{
  margin-top: -7vh;
 
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 17px;
  color: #545454;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
  font-weight: 500;
}

.skills{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width:1200px){
  .inner-container{
      padding: 80px;
  }
}

@media screen and (max-width:1000px){
  .about-section{
      background-size: 100%;
      padding: 100px 40px;
      height: auto;
  }
  .inner-container{
      width: 100%;
      margin-bottom: 30px;
      margin-top: 0;
  }
}

@media screen and (max-width:600px){
  .about-section{
      padding: 0;
  }
  .inner-container{
      padding: 60px;
      margin-bottom: 30px;
      margin-top: 0;
  }
}