<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/footer.css">

</head>
<body>
    <footer>
        <div class="footer-container" id="footer-container">
          <p>&copy; 2023 Your AIDEHI Enterprises. All rights reserved.</p>
          <div class="footer-link-div">
            <ul class="footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <ul class="footer-links">
              <li><a href="#">Book Table</a></li>
              <li><a href="#">Food Order</a></li>
              <li><a href="#">Hotels Near Me</a></li>
            </ul>
            <ul class="footer-links">
              <li><a href="#">Terms and Conditions</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
            <ul class="footer-links" id="last-links">
              <li><a href="#">Contact:--1234567890</a></li>
              <li><a href="#">Email:--AIDEHI@GMAIL.COM</a></li>
            </ul>
          </div>
          <hr>
          <div class="footer-icon">
            <i class="ri-facebook-circle-fill"></i>
            <i class="ri-instagram-fill"></i>
            <i class="ri-twitter-fill"></i>
            <i class="ri-whatsapp-fill"></i>
          </div>
        </div>
    </footer>
</body>
</html>
